<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="com.agentos.permission.USE_CAPABILITY_BROKER"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="false"
        android:label="AgentOS Capability Service"
        android:supportsRtl="true">
        <service
            android:name=".service.AgentCapabilityService"
            android:exported="true"
            android:permission="com.agentos.permission.USE_CAPABILITY_BROKER" />
    </application>
</manifest>
